#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.state {
	position: relative;
	bottom: 10rem;
	text-align: center;
	width: 10rem;
	height: 3rem;
	font-size: 2rem;

	color: black;
}
